@mixin set-font($font-size, $line-height, $font-weight: normal) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin block-size($width, $height) {
  width: $width;
  height: $height;
  box-sizing: border-box;
}

@mixin background-image($src) {
  background-image: url($img-path + "/" + $src);
  background-repeat: no-repeat;
}

@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}