.advantage {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 43px;
}

.advantage__img {
  position: absolute;
  left: 0;
}

.advantage__description {
  @include set-font(14px, 20px, 500);
}