.arrow-link {
  font-family: inherit;
  color: $color-text-link;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @include set-font(16px, 23px, 500);
  padding: 0;
  display: flex;
  align-items: center;

  &::after {
    @include arrow-down;
  }

  &--right {
    &::after {
      @include arrow-right;
    }
  }
}