.button {
  @include set-font(16px, 20px, 900);
  cursor: pointer;
  background-color: transparent;
  border-radius: 3px;
  text-decoration: none;
  display: block;
  text-align: center;
  display: inline-block;

  border: 2px solid #FC9B09;
  color: #FC9B09;
  box-sizing: border-box;
  padding: 25px;

  transition: 0.2s;

  &:hover {
    color: #FFFFFF;
    background-color: #FC9B09;
  }
  
  &--light {
    color: #FFFFFF;
    border-radius: 7px;
    border: 3px solid #FFFFFF;

    &:hover {
      background-color: #FFFFFF;
      color: $color-text-base;
    }
  }

  &--mini {
    padding: 16px 32px;
    @include set-font(14px, 17px, 500);
  }
}