.map {
  padding-top: 45px;
}

.map__inner {
  border: 1px solid #C7C7C7;
  display: flex;
  flex-direction: column;
  padding: 52px 20px 20px;
  align-items: center;
}

.map__slider {
  margin-bottom: 40px;
}

.map__script {
  width: 100%;
  padding-bottom: 52px;
}