.photosession__advantages-list {
  @include list-reset;
  padding-top: 33px;
  margin-bottom: 15px;
}

.photosession__advantages-item {
  padding-bottom: 22px;
}

.photosession__stars {
  padding: 14px 0;
}

.photosession__image {
  padding-bottom: 30px;
}