.photo-sessions__schedule {
  border: 1px solid #C7C7C7;
  border-collapse: collapse;
  width: 100%;
  max-width: 770px;

  td, th {
    border: 0.5px solid #C7C7C7;
    padding: 20px;
  }

  padding-top: 38px;
}

.photo-sessions__schedule-header {
  @include set-font(18px, 26px);
}

.photo-sessions__schedule-stars {
  .many-stars {
    padding: 10px 0;
  }
  .many-stars__description {
    @include set-font(13px, 19px); 
  }
}

@media only screen and (min-width: $tablet-width) {
  .photo-sessions__header {
    @include set-font(20px, 29px, 500);
  }
}