.photosession {
  position: relative;
}

.photosession__advantages-list {
  @include list-reset;
  padding-top: 33px;
  margin-bottom: 15px;
}

.photosession__advantages-item {
  padding-bottom: 22px;
}

.photosession__stars {
  padding: 14px 0;
}

.photosession__image {
  padding-top: 13px;
  padding-bottom: 30px;
  margin: 0 auto;
  max-width: 554px;
  display: block;
  width: 100%;
}

@media only screen and (min-width: $tablet-width) {
  .photosession__inner {
    width: 45%;
  }
  .photosession__image {
    position: absolute;
    right: 15px;
    top: 40px;
    width: 50%;
  }

  .photosession__header {
    @include set-font(40px, 49px, 500);
  }
}