.price {
  @include background-image("price-bg.svg");
  @include block-size(209px, 86px);

  background-size: 100%;
  color: #ffffff;
  padding: 9px 15px;

  &::after {
    @include set-font(30px, 30px, 800);
    @include block-size(47px, 47px);

    content: "%";
    
    border: 1px solid white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.price__header {
  @include set-font(18px, 27px);
}

.price__value {
  @include set-font(30px, 45px, 800);
}