.review {
  display: flex;
  flex-direction: column;
}

.review__author {
  display: flex;
  position: relative;
  padding-bottom: 46px;
}

.review__author-image {
  width: 84px;
  height: 84px;
  margin-right: 18px;
}

.review__author-info {
  display: flex;
  flex-direction: column;
}

.review__author-name {
  @include set-font(16px, 20px, 500);
}

.review__author-profession {
  @include set-font(14px, 21px, 500);
}

.review__message-header {
  @include set-font(14px, 21px);
  color: #B3B3B3;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    @include background-image("check.svg");
    width: 17px;
    height: 15px;
    margin-right: 5px;
  }
}

.review__message {
  @include set-font(14px, 21px, 500);
  margin-bottom: 20px;
}

.review__date {
  @include set-font(14px, 21px);
  color: #B3B3B3;
}

.review__message-header {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 14px 0;
}

@include desktop-media {
  .review__message-header {
    position: static;
    padding-top: 10px;
  }  

  .review__evaluate-info {
    display: flex;
    align-items: center;
  }

  .review__author-name {
    margin-bottom: 10px;
  }

  .review__stars {
    margin-right: 50px;
  }
}