.section {
  color: $color-text-base;
  padding-top: 40px;
}

.section__header {
  @include set-font(28px, 34px);
  text-align: center;
  margin: 0;
}

.section__description {
  @include set-font(14px, 20px);
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: $tablet-width) {
  .section__header {
    @include set-font(20px, 29px);
    text-align: left;
  }
}