.slider-item {
  display: none;
  flex-direction: column;
  align-items: center;

  &--active {
    display: flex;
  }
}

.slider-item__number {
  @include block-size(66px, 66px);
  @include set-font(30px, 44px, bold);
  color: #ffffff;

  background-color: #FC9B09;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.slider-item__name {
  @include set-font(16px, 23px, 500);
  margin-bottom: 10px;
}

.slider-item__description {
  @include set-font(14px, 20px);
}

.slider-item__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: $tablet-width) {
  .slider-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 34px;
  }

  .slider-item__number {
    margin-bottom: 0;
  }

  .slider-item__text {
    align-items: flex-start;
  }

  .slider-item__number {
    margin-right: 18px;
  }

  .slider-item__name {
    @include set-font(18px, 27px, 500);
  }
  
  .slider-item__description {
    @include set-font(18px, 26px);
  }
}