.welcome {
  @include background-image("welcome.jpg");
  background-position: 60% center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 655px;
}
.welcome__header {
  margin: 0;
  @include set-font(32px, 39px, bold);
  width: 85%;
  box-sizing: border-box;
  color: #ffffff;

  &--orange {
    color: #FC9B09;
  }
  padding-top: 142px;
  margin-bottom: 36px;
}

.welcome__button {
  margin-top: 14px;
}

.section__image {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: $tablet-width)  {
  .welcome {
    height: 840px;
  }
}