mixin logo(mix_class)
  img(src="assets/img/logo.svg", class=mix_class).logo


mixin advantage(advantage_img, advantage_description, mix_class)
  li.advantage(class=mix_class)
    img(src=advantage_img).advantage__img
    span.advantage__description= advantage_description

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Helyfly
  body
    header.site-header
      +logo('site-header__logo')
      .city.site-header__city Москва
      button.site-header__nav-button
    main.site-content
      h1.visually-hidden Hellyfly - фотосессия в вертолете

      section.welcome
        h2.welcome__header Эксклюзивная фотосессия при полете на вертолете
        |
        |
        a(href="#").button.button--light Забронировать место
      section.advantages
        h2.advantages__header Фотосессия в вертолете
        p.advantages__description.
          Полет на вертолете это прекрасная возможность получить
          новые ощущения! А наш замечательный фотограф запечатлит
          лучшие моменты
        
        ul.advantages
          +advantage("../assets/img/clock.svg", "3 часа съемки", "advantages__item").inner.advantages__item
          +advantage("../assets/img/camera.svg", "Более 50 фотографий", "advantages__item").inner.advantages__item
          +advantage("../assets/img/location.svg", "Москва", "advantages__item").inner.advantages__item
          +advantage("../assets/img/messaging.svg", "Готовы ответить на любые вопросы", "advantages__item").inner.advantages__item
        